:root {
	--mainBlue: #38B6FF;
	--mainPink: #FF5757;
	--mainLightGrey: #E4E4E4;    
	--mainDarkGrey: #999999;    
	--mainBlack: #111;   
    --mainWhite: #FFF ;
}

body{
    font-family: "Montserrat";
}

/* Header */

.HeaderBackground{
    background: linear-gradient(90deg, rgba(153,153,153,1) 0%, rgba(228,228,228,1) 100%);
    height: 80px;
    box-shadow: 0px 15px 10px -18px var(--mainBlack);
}

.logoimg{
    height: 80px;
}

.HeaderNavbar{
    line-height: 40px;
    margin: 0 auto;
}

.HeaderNavbar .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    transition: 0.4s!important;
}
.HeaderNavbar .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover:hover{
    color: var(--mainBlue);
    transition: 0.4s!important;
}

@media (max-width: 991.98px) {
    .HeaderNavbar .navbar-toggler{
        position: absolute!important;
        right: 0!important;
        top: 20px!important;
    }

    .HeaderNavbar .navbar-collapse{
        border-radius: 7px!important;
        position: absolute!important;
        right: -40px!important;
        top: 80px!important;
        padding: 10px!important;
        background-color: #e4e4e4!important;
        z-index: 999!important;
    }
 }

.RightNav{
    line-height: 80px;
}

.RightNav li{
    display: inline;
    margin: 0 10px;
    font-size: 23px;
}

.RightNav a{
    text-decoration: none;
    color: var(--mainBlack);
    transition: 0.4s!important;
}
.RightNav a:hover{
    color: var(--mainBlue);
    transition: 0.4s!important;
}

.HeaderBackground .navbar-nav{
    margin: auto!important;
}

.FooterBackground{
    padding: 20px;
    background-color: var(--mainLightGrey);
    box-shadow: 0px -15px 10px -18px var(--mainBlack);
}

.FooterLogo{
    width: 250px;
    height: 250px;
}

.LogoBorder{
    border-right: 1px solid var(--mainPink);
}

.FooterIcons{
    color: var(--mainPink);
    font-size: 20px;
}

/* Footer */

.FooterBackground a{
    text-decoration: none;
    color: var(--mainBlack);
    transition: 0.4s!important;
}

.FooterBackground a:hover{
    color: var(--mainBlue);
    transition: 0.4s!important;   
}

/* Home */

.HomeAuthor{
    font-size: 15px;
    color: var(--mainPink);
    text-transform: uppercase;
}

.HomeBook{
    font-size: 30px;
    color: var(--mainPink);
    text-transform: uppercase;
}

.HomeSliderBtn{
    border: 0;
    background-color: var(--mainBlue);
    color: var(--mainLightGrey);
    border-radius: 28px;
    padding: 10px 20px;
    transition: .4s;
}

.HomeSliderBtn:hover{
    opacity: .6;
    transition: .4s; 
}

@media (min-width: 768px) { 
    #HomeCarousel .carousel-caption{
        top: 25%!important;
        right: -30%!important;
    }
 }

.TopLabel{
    font-size: 25px;
    color: var(--mainPink);
    font-weight: 600;
}

.ViewAllBtn{
    text-decoration: none;
    color: var(--mainLightGrey);
    background-color: var(--mainBlue);
    border-radius: 28px;
    padding: 7px 12px;
    transition: .4s;
}

.ViewAllBtn:hover{
    color: var(--mainLightGrey);
    opacity: .6;
    transition: .4s; 
}

@media (max-width: 991.98px) { 
  .ViewAllBtn{
      float: right;
  }  
}

#HomeOwl img, .HomeOwlStyle img{
    width: 210px;
    height: 310px;
    cursor: pointer;
}

#HomeOwl .owl-prev{
	position: absolute;
    left: -45px;
    top: 25%!important;
    font-size: 55px!important;
    color: var(--mainBlack)!important;
    background: var(--mainWhite);
}
#HomeOwl .owl-prev:hover{
    font-size: 55px!important;
    color: var(--mainBlack)!important;
    background: var(--mainWhite)!important;
}
#HomeOwl .owl-next{
	position: absolute;
    right: -25px;
	top: 25%!important;
    font-size: 55px!important;
    color: var(--mainBlack)!important;
    background: var(--mainWhite)!important;
}

#HomeOwl .owl-theme .owl-dots .owl-dot span{
	border-radius: 0!important;
}
#HomeOwl .owl-theme .owl-prev{
	font-size: 64px!important;
	top: 30%!important;
}
#HomeOwl .owl-theme .owl-next{
	font-size: 64px!important;
	top: 30%!important;
}

.HomeOwlStyle{
    position: relative;
    margin: 0 auto;
    width: 220px;
    border: 0!important;
}

.HomeOwlStyle .Category{
    font-size: 15px;
    color: var(--mainDarkGrey);
    text-transform: uppercase;
    font-weight: 600;
}

.HomeOwlStyle .Name{
    font-size: 13px;
    color: var(--mainBlack);
    font-weight: 600;
}

.HomeOwlStyle .Stars li{
    display: inline;
}

.HomeOwlStyle .Free{
    font-size: 11px;
    color: var(--mainPink);
    font-weight: 600;
}

.HomeTop10{
    position: relative;
}

@media (max-width: 991.98px) { 
    .HomeTop10Info{
        left: 35%!important;
    }
 }

.HomeTop10Info{
    position: absolute;
    top: 60%;
    left: 40%;
}

.ImgTop10{
    border-radius: 28px;
}

.DisplayHover{
    position: absolute;
	bottom: 150px;
	right: 20px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.HomeOwlStyle:hover .DisplayHover{
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.DisplayHover button{
    color: var(--mainPink);
    background-color: transparent;
    border: 0;
    background-color: var(--mainLightGrey);
    border-radius: 50%;
    margin-top: 10px;
}

.CenterTabs{
    border: 0!important;
}

#HomeTabs .nav-tabs .nav-link, #HomeTabs .nav-tabs .nav-item.show .nav-link, #HomeTabs .nav-tabs .nav-link:hover, .nav-tabs .nav-link{
    border: 0!important;
}

.nav-tabs .nav-link{
    color: var(--mainBlack)!important;
    font-size: 17px!important;
    font-weight: 600!important;
    border-bottom: 3px solid var(--mainPink)!important;
    padding-bottom: 5px!important;
    margin-right: 10px;
}

.nav-tabs .nav-link:active, .nav-tabs .nav-link:focus{
    border-bottom: 3px solid var(--mainBlack)!important;
    font-weight: bold!important;
    color: var(--mainPink)!important;
}

.HomeAuthorBox{
    background-color: var(--mainPink);
    border-radius: 28px;
    padding: 20px;
    padding-left: 40px;
}

.HomeAuthorBox .Title{
    font-size: 24px;
    font-weight: bold;
    color: var(--mainBlack);
    text-transform: uppercase;
}

.HomeAuthorBox .Line{
    width: 50%;
    color: var(--mainDarkGrey);
    height: 2px;
}

.HomeAuthorBox img{
    width: 60px;
    height: 60px;
    border-radius: 28px;
}

.HomeAuthorBox .Name{
    font-size: 15px;
    font-weight: 600;
    color: var(--mainBlack);
    line-height: 60px;
}

.HomeAuthorBox svg{
    font-size: 30px;
    color: var(--mainBlue);
}

.HomeAuthorBox a{
    line-height: 60px;
}

@media (max-width: 991.98px) { 
    .HomeGenreBox{
        margin-top: 20px;
    }
 }

.HomeGenreBox{
    background-color: var(--mainLightGrey);
    border-radius: 28px;
    padding: 20px;
    padding-left: 40px;
}

.HomeGenreBox .Title{
    font-size: 24px;
    font-weight: bold;
    color: var(--mainBlack);
    text-transform: uppercase;
}

.HomeGenreBox .Line{
    width: 50%;
    color: var(--mainPink);
    height: 2px;
}

.HomeGenreBox .viewAll{
    line-height: 36px;
}

.HomeGenreBox img{
    width: 65%;
    border-radius: 15px;
}

.HomeGenreBox .Single{
    position: relative;
}

.HomeGenreBox .Name{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* Authors Page */

.AuthorsTitle{
    font-size: 25px;
    font-weight: 500;
    color: var(--mainBlack);
}

.AuthorsNumbers{
    font-size: 15px;
    color: var(--mainBlue);
    border-bottom: 1px solid var(--mainBlue);
}

.AuthorsAsideBox{
    background-color: var(--mainLightGrey);
    border-radius: 28px;
    padding: 20px;
    padding-left: 40px;
}

.AuthorsAsideBox .Title{
    font-size: 18px;
    font-weight: bold;
    color: var(--mainBlack);
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 1px solid var(--mainBlack);
}

.AuthorsAsideBox .Category{
    font-size: 15px;
    font-weight: 600;
    color: var(--mainBlack);
    text-decoration: none;
    transition: .4s;
}
.AuthorsAsideBox .Category:hover{
    color: var(--mainDarkGrey);
    transition: .4s;
}

.AuthorsAsideBox svg{
    color: var(--mainBlue);
    font-size: 20px;
}

.SingleAuthorBox{
    width: 250px;
    border: 0;
    cursor: pointer;
    transition:all .3s ease;
    border-radius: 15px;
    margin-bottom: 20px!important;
}

@media (max-width: 575.98px) { 
    .SingleAuthorBox{
        margin: 0 auto;
    }
 }

.SingleAuthorBox:hover{
    opacity: .8;
    margin-top: -3px;
    box-shadow: 0 4px 8px 0 var(--mainDarkGrey), 0 6px 20px 0 rgba(212, 212, 212, 0.19);
    transition:all .3s ease;
    border-radius: 15px;
}

.SingleAuthorBox img{
    width: 250px;
    height: 300px;
    border-radius: 15px;
}

.SingleAuthorBox .card-body{
    padding: 0;
    padding-top: 20px!important;
}

.SingleAuthorBox .Name{
    font-size: 16px;
    font-weight: 600;
    color: var(--mainDarkGrey);
}

.SingleAuthorBox .Stars li{
    display: inline;
}

/* Book Details */

.TopBox{
    background-color: var(--mainLightGrey);
    line-height: 60px;
    text-align: center;
    margin-top: 10px;
}

.TopBox .Path li{
    display: inline;
}

.TopBox .Path a{
    font-size: 15px;
    color: var(--mainBlack);
    text-decoration: none;
    transition: .4s;
}

.TopBox .Path a:hover{
    color: var(--mainDarkGrey);
    transition: .4s;
}

.TopBox .Path .Name{
    color: var(--mainBlue);
    font-size: 15px;
}

.BookDetails .Name{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.BookDetails tbody, td, tfoot, th, thead, tr{
   padding-bottom: 20px;
}

.BookDetails .Details tr span{
    float: right;
    margin-right: 5px;
}

.BookDetails .Details tr th{
    width: 200px;
}

.BookDetails .Details tr td{
    color: var(--mainBlue);
}

.BookDetails .Options{
    border: 0;
    background-color: var(--mainBlue);
    color: var(--mainLightGrey);
    border-radius: 28px;
    padding: 7px 15px;
    margin-left: 25px;
    margin-bottom: 10px;
    transition: .4s;
    text-transform: uppercase;
    font-weight: 500;
}

.BookDetails .Options:hover{
    opacity: .6;
    transition: .4s;
}

.BookDet .SingleTab .Stars li{
    display: inline;
    color: yellow;
    font-size: 25px;
}
.SingleTab .Stars .Number{
    color: var(--mainBlack);
    font-size: 15px;
}